use_bash:         True
use_vim:          True
use_vim_in_shell: True
use_nodejs:       True
use_java:         True
use_gui:          True

homedir:             "/home/{{ ansible_user_id }}"
astrap_dir:          "{{homedir}}/astrap/local"
astrap_software_dir: "{{homedir}}/software/"

git_name:  John Doe
git_email: john.doe@example.com

nodejs_version: 5.x

autoaccept_java_license: False
