" Remove menu bar
set guioptions-=m
" Remove toolbar
set guioptions-=T

" remove scrollbars
set guioptions-=l
set guioptions-=r
set guioptions-=b

" Maximixze window on start
augroup maximizewindow 
    autocmd! 
    autocmd VimEnter * call system('wmctrl -i -b add,maximized_vert,maximized_horz -r '.v:windowid)
augroup END
